

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1 {
  top: 0px;
  width: 100%;
  position: fixed;
  display: block;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  font-family : 'lunaregular', cursive;
  color: #69c1bc;
  background: white;
  border-bottom: 1px solid #f1f1f1;
}

.main {
  max-width: 1020px;
  margin: 100px auto 100px;
  padding: 0;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  max-width: 100%;
}

.picture {
  width: 328px;
  height: 328px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

.zoom {
  object-fit: fill;
  width: 100%;
  height: inherit;
  margin: 5px 0;
}

.detail {
  text-align: center;
  margin-bottom: 15px;
  color: #222;
}

.detail .date {
  font-size: 0.9em;
  color: #69c1bc;
}

footer {
  padding: 10px;
  margin: 10px;
  color: #69c1bc;
  text-align: center;
}
